{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    	<title>System Weryfikacji Obecności Studentów</title>
    	{% block head %}
    	{% endblock %}
    </head>
    <body>
	<div class="page-header">
        <center><h1><a href ="/uwb/">System Weryfikacji Obecności Studentów</a></h1></center>
	</div>
	<div class="site">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<center>
        	{% if user.is_authenticated %}
                <p1> Witaj <a href="/uwb/profile/">{{ user.username }}</a>, <a href="/uwb/logout/">wyloguj</a>.</p1>
            	{% else %}
                <p1> Nie jesteś zalogowany, naciśnij <a href="/uwb/login/">logowanie</a> aby się zalogować, lub <a href="/uwb/register/">rejestracja</a> aby się zarejestrować. </p1>
            	{% endif %}
	</center>

        {% block content %}
        {% endblock %}

	</div>
	
	</br>
	<div class="footer">
	<center>
		<f1>Projekt - zastosowanie informatyki w gospodarce. Prototyp aplikacji webowej.</f1>
	</center>
	</div>

    </body>
</html>
