{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    	<title>System Weryfikacji Obecności Studentów</title>
    	{% block head %}
    	{% endblock %}
    </head>
    <body>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">

				<ul class="nav navbar-nav navbar-left">
				<li><a href="/uwb/"><span class="glyphicon glyphicon-home"></span> Strona główna</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<li><a href="/uwb/profile/"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
				{% else %}
				<li><a href="/uwb/register/"><span class="glyphicon glyphicon-plus-sign"></span> Rejestracja</a></li>
				{% endif %}
				
				{% if user.is_authenticated %}
                    		<li><a href="/uwb/logout/"><span class="glyphicon glyphicon-log-out"></span> Wyloguj się</a></li>
				{% else %}
				<li><a href="/uwb/login/"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
                    		{% endif %}
				</ul>
			</div>
		</div>
	</nav>
  
	<div class="container-fluid">    
		<div class="col-md-6 col-md-offset-3">

			</br></br></br>
			{% block content %}
			{% endblock %}

		</div>
	</div>
	
	</br>
	</br>

	<footer class="footer text-center">
  		<p>Projekt - zastosowanie informatyki w gospodarce. Aplikacja webowa.</p>
	</footer>

    </body>
</html>
