{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading">Witaj w Systemie Weryfikacji Obecności Studentów!</div>
		<div class="panel-body">
			{% if user.is_authenticated %}
			<p>Zalogowałeś się jako <a href="/uwb/profile/">{{ user.username }}</a>.</p>
			{% else %}
			<p> Nie jesteś zalogowany! <a href="/uwb/login/">Zaloguj się</a> lub przejdź do <a href="/uwb/register/">rejestracji</a>.</p>
			{% endif %}
		</div>
		</div>
		
		</br>
		
		<div class="media">
			<img src="http://i.imgur.com/K4zeMah.png" class="center-block img-thumbnail" alt="" width="300" height="240"/>
		</div>
	</div>

{% endblock content %}
