{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading">Logowanie</div>

		<div class="panel-body">
		
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
		<div class="col-sm-2">
			{{form}}
			</br>
			</br>
		</div>
		<div class="col-sm-offset-5 col-sm-10">
        		<input type="submit" value="Login"/>
			<input type="hidden" name="next" value="{{ next }}"/>
      		</div>
			
		</form>


		<!--<form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
		{% csrf_token %}

		<div class="form-group">
      			<label for="username">Name:</label>
      			<input type="text" class="form-control" id="username">
    		</div>

    		<div class="form-group">
      			<label for="pwd">Password:</label>
      			<input type="password" class="form-control" id="password">
    		</div>

		<div class="form-group">
			<input type="submit" value="Login"/>
			<input type="hidden" name="next" value="{{ next }}"/>
		</div>
		</form>-->
		
		</div>
	</div>

{% endblock content %}
