{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
{% endblock head %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading">Zostałeś pomyślnie wylogowany!</div>
		<div class="panel-body">
			{% if user.is_authenticated %}
			{% else %}
			<p><a href="/uwb/login/">Zaloguj się</a> ponownie lub przejdź do <a href="/uwb/register/">rejestracji</a>.</p>
			{% endif %}
		</div>
	</div>

{% endblock content %}
