{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}

{% block content %}
</br>
<div class="panel">
	<center><p3><u><b>Profil studenta</b></u></p3></center></br>
    	<p> Dane dla użytkownika: {{ collected_data.student_name }} </p>
    	{% for attendance in collected_data.student_data %}
        	<p>
        		{{ attendance.classes_name }},
        		{{ attendance.lecturer_name }},
        		{{ attendance.attendance_date }},
        		{% if attendance.attendance %}
         	   		<font color="green">Obecny</font>
        		{% else %}
        	  		<font color="red">Nieobecny</font>
       			{% endif %} 
        	</p>
    	{% endfor %}
</div>
{% endblock content %}
