{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head %}

{% block content %}
</br>
<div class="panel">
	
	    <center><p3><u><b>Rejestracja</b></u></p3></center></br>
	    <form action="/uwb/register/" method="post" accept-charset="utf-8">
	    {% csrf_token %}
	    <p><label1 for="first_name"><b>Imię: </b></label1>
	    <input type="text" name="first_name"></p>
	    <p><label2 for="last_name"><b>Nazwisko: </b></label2>
	    <input type="text" name="last_name"></p>
	    <p><label3 for="username"><b>Nazwa Użytkownika: </b></label3>
	    <input type="text" name="username"></p>
	    <p><label4 for="password"><b>Hasło: </b></label4>
	    <input type="password" name="password"></p>
	    <p><label5 for="index_number"><b>Nr indeksu: </b></label5>
	    <input type="text" name="index_number"></p>
	    <p><label6 for="staff"><b>Wykładowca: </b></label6>
	    <input type="checkbox" value=True name="staff"></p>
	    <center><p><input type="submit" value="OK!"></p></center>
	</form>
</div>
</br>
{% endblock content %}
