{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading">Rejestracja</div>
	
		<div class="panel-body">
			<form action="/uwb/register/" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
			{% csrf_token %}

			<div class="form-group">
      				<label class="control-label col-sm-3" for="first_name">Imię:</label>
      				<div class="col-sm-6">
        				<input type="text" class="form-control" name="first_name">
      				</div>
    			</div>

			<div class="form-group">
      				<label class="control-label col-sm-3" for="last_name">Nazwisko:</label>
      				<div class="col-sm-6">
        				<input type="text" class="form-control" name="last_name">
      				</div>
    			</div>

			<div class="form-group">
      				<label class="control-label col-sm-3" for="username">Użytkownik:</label>
      				<div class="col-sm-6">
        				<input type="text" class="form-control" name="username">
      				</div>
    			</div>

			<div class="form-group">
      				<label class="control-label col-sm-3" for="password">Hasło:</label>
      				<div class="col-sm-6">
        				<input type="password" class="form-control" name="password">
      				</div>
    			</div>

			<div class="form-group">
      				<label class="control-label col-sm-3" for="index_number">Nr indeksu:</label>
      				<div class="col-sm-6">
        				<input type="text" class="form-control" name="index_number">
      				</div>
    			</div> 

			<div class="form-group">
				<label class="control-label col-sm-3" for="staff">Wykładowca:</label>
				<div class="col-sm-6">
					<input type="checkbox" value=True name="staff">
				</div>
			</div>

			<div class="form-group">        
     				<div class="col-sm-offset-5 col-sm-10">
        				<input type="submit" value="Załóż konto">
      				</div>
    			</div>
			</form>
		</div>
		
	</div>


{% endblock content %}
