body {
        height: auto;
	background-color: #fff;
}

.navbar {
        margin-bottom: 0;
        border-radius: 0;
	background-color: #B81D25;
	margin-top: 0;
	font: #F0E6D1;
	padding: 15px 0px 15px 0px;
	font: 20px calibri;
}
    
.footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #B81D25;
        padding: 10px 0px 0px 0px;
	color: #F0E6D1;
	font: 14px calibri;

}

.navbar-default .navbar-nav > li > a {
	color: #F0E6D1;
}
