.panel-default {
	border-color: #000;
}

.panel-default > .panel-heading {
	background-color: #CFCFCF;
	border-color: #000;
	text-align: center;
	font: 30px calibri;
}

.panel-default > .panel-body {
	background-color: #F2F2F2;
	font: 16px calibri;
	text-align: center;
}
