.panel {
	width: 700px; 
	margin: 0 auto; 
	padding: 15px 5px 5px;
	background: #EDEDED;
	border: 3px solid silver;
	font: 16px calibri;
	letter-spacing: 0px;
	-webkit-box-shadow: 0 0 3px silver; 
	-moz-box-shadow: 0 0 3px silver; 
	box-shadow: 0 0 3px silver;
}

p3 {
	font: 20px calibri;
}
